*, html, body{
    margin: 0 ;
    font-size: 9px;
    padding: 0;
}

.scene{
    background-color: rgb(29, 30, 32);
    display: grid;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    
} 
.saber{
    position: relative;
    bottom: 10vh;
    grid-column: 1/-1;
}
#onOff{
    position: absolute;
    width: 0;
    height: 0;
}
.handle{
    display: block;
    height: 8rem;
    z-index: 2;
    width: 1.2rem;
    background-color: silver;
    background-image: linear-gradient(
        silver 0 10px,
        rgb(82, 56, 39) 10px 14px,
        brown 14px 15px,
        gold  16px,
        rgb(156, 47, 47) 16px 17px,
        rgb(255, 230, 0)  18px,
        rgb(82, 56, 39) 18px 22px,
        brown 22px 26px,
        rgb(82, 56, 39) 26px 30px,
        brown 30px 34px,
        rgb(82, 56, 39) 34px 38px,
        brown 38px 42px

    );
    border-radius: 0 0 0.5rem 0.5rem;
}
.blade{
    position: absolute;
    height: 300%;
    width: 100%;
    border-radius: 100vw 100vw 0 0;
    background-color: white;
    bottom: 100%;
    box-shadow: 
                0 -1rem 1.2rem hsl(120 100% 50% /.5) inset,
                0 0rem 1.2rem hsl(120 100% 50% /0.9),
                0 0rem 1.8rem hsl(120 100% 50% /0.7),
                0 0 2.4rem hsl(120 100% 50% /0.5),
                0 0 2.8rem hsl(120 100% 50% /0.4),
                0 0 4rem  hsl(120 100% 50% /0.3),
                0 0 5rem 5rem hsl(110 100% 50% / 0.1);
                transition: transform 200ms ease-out;
                transform-origin: bottom;
}
.blade::after{
    content: "";
    background: hsl(120 100% 50% / .1);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: inherit;
    filter: blur(0rem);
    opacity: 0.4;
    animation: pulse ease 1s infinite ;
    z-index: -1;
}

@keyframes pulse {
    50%{
        z-index: -1;
    }
    100%{
        z-index: 1;
    }
}
#onOff:not(:checked) + .blade{
    transform: scaleY(0);
}
#onOff:checked + .blade{
    transform: scaleY(1);
}
embed{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

#onOff:checked  ~ embed{
    display: block;

}