*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    scroll-behavior: smooth;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, cursive;
}


.welcome{
    display: flex;
    box-shadow: 0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  1000px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px, 0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0),0 0  100px rgb(0, 0, 0);
    position: fixed;
    width: 90%;
    height: fit-content;
    top: 50%;
    flex-direction: column;
    left: 50%;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: rgb(34, 34, 34);
    z-index: 4;
    padding: 10px;
}
.welcome h1{
    color: rgb(212, 212, 212);
}
.msg {
    color: rgb(22, 22, 22);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.678);
    padding: 20px;
    font-weight: 900;
    border-radius: 20%;
}
.yoda{
    width: 10rem;
    position: relative;
    transform: translateX(50%);
    /* show shadow of png */
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); */
    -webkit-filter: drop-shadow(10px 20px 10px rgb(0, 0, 0));
    filter:         drop-shadow(10px 20px 10px rgb(0, 0, 0)); 
}
#closeBtn{
    position: absolute;
    right: 2%;
    opacity: 0.5;
    top: 0%;
    padding: 20px;
    /* color: grey; */
    /* background-color: antiquewhite; */
    cursor: pointer;
}
#closeBtn:hover{
    opacity: .7;
}
#closeBtn:before, #closeBtn:after {
    position: absolute;
    top: 0%;
    width: 1px;
    height: 30px;
    background-color: rgb(182, 182, 182);
    content: " ";
    color: grey;
    padding: 1px;
    font-size: 3rem;
    cursor: pointer;
}
#closeBtn:before {
    transform: rotate(45deg);
}
#closeBtn:after {
    transform: rotate(-45deg);
}
  



.container{
    /* background-image: radial-gradient(rgb(49, 49, 49), rgb(36, 36, 36), rgb(17, 17, 17)); */
    width: 100vw;
    background-color: rgb(17, 17, 17);
    height: 100vh;
    position: absolute;
    /* bottom: -80vh; */
    overflow-y: hidden;
    overflow-x: scroll;
    
}
.scene{
    background-color: rgb(17, 17, 17);
    height: 84%;
    overflow-y: hidden;
    scroll-snap-points-y: repeat(50vh);
    scroll-snap-type: y mandatory;
}


.handle{
    position: absolute;
    padding: 10px;
    right: 50%;
    bottom: 8%;
    width: 5px;
    z-index: 2;
    height: 50px;
    box-shadow:  0  5px rgb(194, 194, 194) inset,0  7px rgb(255, 251, 0) inset,0  9px rgb(0, 0, 0) inset,0  11px rgb(251, 255, 0) inset, 0  25px rgba(70, 70, 70, 0.986) inset, 0  30px rgb(78, 78, 78) inset, 0  32px rgb(97, 97, 97) inset,0  34px rgb(109, 109, 109) inset,0  35px rgb(0, 0, 0) inset;
    background-image: linear-gradient(rgb(177, 177, 177), rgb(131, 131, 131));
    transform: translateX(50%)
}
.handle::after{
    border-left: 60px solid rgba(17, 17, 17, 0.9);
    border-right: 60px solid rgba(17, 17, 17, 0.9);
    border-top: 25px solid transparent;
    /* border-radius: 10000px 10000px 100px 100px ; */
    content: " ";
    padding: 12px;
    backdrop-filter: blur(0px);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 0;
    height: 50px;

}
input{
    width: 0;
    transform: translateX(-25%);
}
.off,.on {
    height: 100%;
    scroll-snap-align: center;

}
.off {
    background-color: rgb(17, 17, 17);
}
.on {
    background-color: rgb(17, 17, 17);
    padding-top: 30px;
    height: 70vh;
}
::-webkit-scrollbar{
    width: 0px;
}
.blade{
    height: 100%;
    width: 20px;
    position: relative;
    right: -50%;
    bottom: -5px;
    
    box-shadow: 0 -10px 15px white, 0 0 30px white,0 0 45px white, 0 0 3px white inset;
    border-radius: 10px 10px 0 0;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
}
.colors{
    position: fixed;
    display: flex;
    bottom: 5px;

    width: fit-content;
    z-index: 3;
    align-items: center;
    overflow: scroll;
    flex-wrap: wrap;
}
@media only screen and (max-width:34.375em) { 
	.colors{
        font-size: 1vh;
    }
}
.colors > label{
    align-items: center;
    display: flex;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.096);
    padding: 10px;
    margin: auto;
    margin-left: 10px;

}
.colors > label:hover{
    background-color: rgba(255, 255, 255, 0.377);

}